/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/*RWD*/

@media screen and (max-width: 1024px) {

  * {
max-width: 102%;
}

body {
  background-size: 155%;
  background-position: 0% 15%;
    }

h3, h4, p.sub_main, h5.modal-title, .modal-body, .dropdown-item, .modal-footer a
 {font-size: 2em;}

iframe {padding: 10%;}

.header {margin-left: -15vw;}

.dropdown-menu.dropdown-menu-right {max-width: 75vw;}

#heading-name {
  font-size: 12vw;
  margin-top: -7.5vh;
  -webkit-filter: none;
  filter: none;
  }

section#tech {width: 90%}

span.org_deco {
  margin-left: -10vw;
  padding: 15vw;
  }

button#tech_btn.btn.btn-secondary.dropdown-toggle
  {
   width: 61.428vw;
   max-width: 100%;
    }

.modal.show .modal-dialog {
        -webkit-transform: translate(0,0);
        transform: translate(25px,150px);
        width: 50%;
    }

  }


/* MAIN AREA */

html { font-size: calc(.085em + 1.5vw) }
h1 { font-size: 4.25em }
h2 { font-size: 2.25em }
p {font-size: .8em;}

a, a:hover, a:active {
  color: #2C7578;
  text-decoration: underline;
  }

a:hover {
    font-weight: bold;
  }

body{
margin-top:5vh;
padding-bottom: 3vh;
background: url(../images/yw_line_curvy_header.png) 0% .5% no-repeat, url(../images/footer_blobs) 80% 102% no-repeat;
background-size: 150%, 38%;
}


h2.main_sec {
word-spacing: inherit;
font-family: 'Playlist Script';
color: #2C7578;
}

h4.sub_main, p.sub_main, .modal-body  {
	color: #2C7578;
  width: 100%;
  }

h4.sub_main, h5.modal-title {
  font-family: 'Quattrocento Sans', sans-serif;
  /*font-size: 1.25em;*/
  line-height: 1.45em;
  font-weight: 300;
  }

p.sub_main {
font-family: 'Quattrocento Sans', sans-serif;
}

.header{
width: 800px;
max-width: 100%;
padding: 7.5vh 0vw;
}

#heading-name {
color: #2C7578;
font-family: 'Playlist Script';
padding-bottom: 2vh;
/*-webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.3));
filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.3)); */
}

#heading-subname {
color: #F86D11;
line-height: 1em;
font-family: 'Oswald', sans-serif;
margin-top: -1.75vh;
}

.container{
margin-left: 30%;
}

#tech {
	margin: 4.5vh 0 0vh -10vw;
	width: 25%;
	padding-right: 5%;
}

#tech_btn {
  margin-bottom: 3vh;
  margin-left: -13vw;
  background: #F86D11;
  border: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .10em;
    }

#tech_btn:active, #tech_btn:focus {
  border: none;
}

#tech_btn:focus, .btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

.fa {
  color: #F86D11;
  padding: 4%;
  }

.dropdown-item, .dropdown-item:hover, h5.modal-title
{color: #F5CA4F;}

.dropdown-item:hover {background: transparent;}

a.btn.btn-outline-secondary  {
    color: #F5CA4F;
    background: transparent;
    border-color: #F5CA4F;
    text-decoration: none;
    }

a:hover i.fa-linkedin, a:hover i.fa-codepen, a:hover i.fa-twitter
    {font-weight: bold;}


#social_media {
margin: 0 -5% 0;
padding: 5%;
}

i.fa.fa-codepen.fa-2x, i.fa.fa-linkedin.fa-2x, i.fa.fa-twitter.fa-2x, .resume, a.resume {
  transition: 1s ease;
  padding-right: 1.55em;
}

i.fa.fa-codepen.fa-2x:hover, i.fa.fa-linkedin.fa-2x:hover, i.fa.fa-twitter.fa-2x:hover, .resume:hover, a.resume:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.1));
}

.clear{
clear: both;
}
